.container{
  /* max-width: 600px;
  height: 300px; */
  /* background: black; */
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  
}
.card{
  display: grid;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  padding: 3rem;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
background: rgb(8,9,11);
background: linear-gradient(180deg, rgba(8,9,11,1) 0%, rgba(16,126,72,1) 78%, rgba(21,168,96,1) 90%, rgba(235,237,242,1) 90%, rgba(235,237,242,1) 100%); 
}